@font-face {
    font-family: 'MyWebFont';
    src: url(/fonts/Bitter-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    /* background: #FFFCFE; */
    background: rgba(251, 248, 248, 0.8);
    width: 100%;
    margin: auto;
    font-family: MyWebFont;
    box-sizing: border-box;
    min-width: 1024px;
    max-width: 1500px;
}

header {
    background-image: url(/images/flower2.jpg);
    background-size: cover;
    background-position: center;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    margin: auto;
}

main {
    background: rgba(251, 248, 248, 0.8);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
}

.left-main {
    width: 20%;
    display: flex;
}

.middle-main {
    width: 60%;
}

a {
    color: #825B74;
    text-decoration: none;
}

    

.view {
    border-bottom: 3px dotted #F1EFEF;
    list-style-type: none;
}

    .view:hover {
        text-transform: uppercase;
    }

.middle-main-flex {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.right-main {
    width: 20%;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background: rgba(208, 202, 202, 0.7);
    color: #FFF7FC;
    font-size: 24px;
    width: 100%;
    margin: auto;
}

.footer-text {
    color: ghostwhite;
    text-align: center;
    margin: 24px 0;
}

header h1 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 0;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #C9C9C9, 0 3px 0 #BBBBBB, 0 4px 0 #B9B9B9, 0 5px 0 #AAAAAA, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

    header h1:hover {
        font-size: 45px;
    }

header h4 {
    text-shadow: 1px 1px 0 #827087, 1px -1px 0 #827087, -1px 1px 0 #827087, -1px -1px 0 #827087;
    color: white;
    transition: all 1s;
    margin: 0;
    padding: 5px 0px 20px 0px;
}

    header h4:hover {
        text-shadow: 1px 1px 0 #E8D3EE, 1px -1px 0 #E8D3EE, -1px 1px 0 #E8D3EE, -1px -1px 0 #E8D3EE;
    }

.containerMe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    object-fit: contain;
    margin: auto;
}

.under_header {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.container_nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right: 3px dotted #F1EFEF;
    text-decoration: none;
}

nav li {
    font-size: 24px;
    color: #D5BCBC;
    margin-bottom: 20px;
    text-decoration: none;
}

nav {
    text-decoration: none;
}

.nav_icon {
    height: 25px;
    margin-bottom: 0;
}
aside {
    margin-left: auto;
    margin-right: auto;
}

.is-active {
    color: #825B74;
    text-transform: uppercase;
}

.icon {
    display: flex;
    flex-direction: row;

}

.icon_text {
    font-size: 18px;
    color: white;
    margin-left: 10px;
    width: 100px;
    padding: 5px 5px;
    position: relative;
    background: rgba(228, 214, 223, 0.4);
    border-radius: 3px;
}

    .icon_text:before {
        content: "";
        border: solid transparent;
        position: absolute;
        right: 100%;
        top: 8px;
        border-right-color: rgba(228, 214, 223, 0.4);
        border-width: 9px;
        margin-top: -1px;
    }

.container_about_photo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.container_about {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 30px auto 20px auto;
    padding: 20px;
    box-shadow: 0px 4px 10px 10px rgba(219, 205, 205, 0.25);
    background-color: white;
    border-radius: 10px;
}

    .container_about:hover {
        transition: box-shadow 1s;
        box-shadow: 0px 4px 10px 10px rgba(130, 91, 116, 0.25);
    }


.MyPhoto {
    border-radius: 4px;
    box-shadow: inset 0px 4px 10px 10px rgba(248, 243, 243, 0.7);
    width: 100%;
}


    .MyPhoto:hover {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

.photo_links {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 30%;
    margin: 30px auto 20px auto;
}

.all-links {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px auto 5px auto;
    width: 100%;
}

.link {
    border-radius: 30px;
}

.link:hover {
    transition: box-shadow 1s;
    box-shadow: 0px 4px 10px 10px rgba(130, 91, 116, 0.25);
}
main p {
    margin: 10px;
    font-size: 24px;
}

main h2 {
    margin: 10px;
    font-size: 24px;
    text-transform: uppercase;
    color: #b3a2a2;
}

.containerQuotes {
   float: left;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blockquote-1 {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 16px 16px 30px 16px;
    padding: 16px 24px;
    position: relative;
    font-size: 16px;
    background: rgba(208, 202, 202, 0.7);
    color: #000;
    font-style: italic;
}

    .blockquote-1::before {
        border: 14px solid transparent;
        border-top: 14px solid rgba(208, 202, 202, 0.7);
        border-bottom: 0;
        height: 0;
        width: 0;
        border-top-width: 25px;
        content: '';
        display: block;
        position: absolute;
        left: 40px;
        bottom: -25px;
        transform-origin: center;
        transform: rotate(90deg) skew(-25deg) translateY(17px);
    }

    .blockquote-1 cite {
        position: absolute;
        bottom: -24px;
        left: 62px;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        color: #000;
    }

.container_sheep {
    float: right;
}

.left-picture {
    float: left;
    margin: 0 10px 5px 0;
    text-align: center;
    border: 1px solid black;
}

.sheep_text {
    font-size: 24px;
    color: slategray;
    margin-left: 10px;
    width: 300px;
    height: 30%;
    padding: 5px 5px 10px 5px;
    position: relative;
    background: rgba(208, 202, 202, 0.7);
    border-radius: 3px;
}

    .sheep_text:before {
        content: "";
        border: solid transparent;
        position: absolute;
        right: 100%;
        top: 8px;
        border-right-color: rgba(208, 202, 202, 0.7);
        border-width: 9px;
        margin-top: -1px;
    }

/* Блоки с образованием */
    .education_card {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto 20px auto;
    padding: 20px;
    box-shadow: 0px 4px 10px 10px rgba(219, 205, 205, 0.25);
    background-color: white;
    border-radius: 10px;

}
        .education_card:hover {
            transition: box-shadow 1s;
            box-shadow: 0px 4px 10px 10px rgba(130, 91, 116, 0.25);
        }

.education-title {
    margin: 10px auto 10px auto;
    font-size: 30px;
    line-height: 32px;
    color: #807171;
    text-transform: uppercase;
}

.education-years {
    margin: 0 auto 10px auto;
    padding: 0;
    font-size: 18px;
    line-height: 32px;
    color: #807171;
    justify-self: center;
}

.educaion_subjects {
    margin: 10 0 10px 0;
    padding: 0;
    font-size: 28px;
    line-height: 32px;
    color: #807171;
    justify-self: center;
}

.education-text {
    font-size: 24px;
    text-align: left;
}
/* Карточки с проектами */

.card_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-items: baseline;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 4px 10px 10px rgba(219, 205, 205, 0.25);
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
}

    .card:hover {
        transition: box-shadow 1s;
        box-shadow: 0px 4px 10px 10px rgba(130, 91, 116, 0.25);
    }

.card_unselected {
    opacity: 0.3;
}

.card-title {
    justify-self: center;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
    line-height: 32px;
    color: #807171;
    text-transform: uppercase;
}

.card-text {
    font-size: 20px;
}

.card-image {
    width: 100%;
    height: 163px;

}
   .card-image:hover {
        
    }

/* Навыки */

.container {
    width: 100%;
    background-color: #ddd;
}

.skill_item {
    padding: 10px;
}

.skill_item:hover {
    transition: box-shadow 1s;
    box-shadow: 0px 4px 10px 10px rgba(130, 91, 116, 0.25);
}

.skill {
    margin-top: 20px;
}

.skills {
    text-align: right; 
    padding-right: 20px; 
    line-height: 40px; 
    color: white;
}

.html {
    width: 33%;
    background-color: #C2B9BF;
}

.css {
    width: 33%;
    background-color: #C2B9BF;
}

.js {
    width: 33%;
    background-color: #C2B9BF;
}

.C1 {
    width: 33%;
    background-color: #C2B9BF;
}


.C2 {
    width: 66%;
    background-color: #C2B9BF;
}
.C3 {
    width: 99%;
    background-color: #C2B9BF;
}

.java {
    width: 33%;
    background-color: #C2B9BF;
}

.math {
    width: 99%;
    background-color: #C2B9BF;
}

.adm {
    width: 66%;
    background-color: #C2B9BF;
}

/* Фактическая временная шкала (вертикальная линейка) */


.timeline_block {
    width: 90%;
    height: 290px;
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: 10px;
}

    .timeline_block:hover {
        transition: box-shadow 1s;
        box-shadow: 0px 4px 10px 10px rgba(130, 91, 116, 0.25);
    }

.timeline_block_unfiltered {
    opacity: 0.5;
    width: 90%;
    height: 290px;
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left: 10px;
}

    .timeline_block:hover {
        transition: box-shadow 1s;
        box-shadow: 0px 4px 10px 10px rgba(130, 91, 116, 0.25);
    }

.date {
    height: 100%;
    width: 30%;
    border-right: 7px dotted rgba(219, 205, 205, 0.7);
    text-align: right;
    margin: 0 auto 0 auto;
    padding-right: 20px;
}

.experience {
    height: 100%;
    width: 70%;
    padding-left: 20px;
    padding-right: 10px;
}

.company {
    justify-self: center;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
    line-height: 32px;
    color: #807171;
    text-transform: uppercase;
}

.job-title {
    margin: 20px auto;
    font-size: 22px;
    line-height: 32px;
    color: #807171;
}

.duties {
    font-size: 20px;
}

.year_label {
    margin: 6px 10px 15px 10px;
    font-size: 20px;
    color: #807171;
}


.check::before {
    content: "✔ ";
    color: rgba(219, 205, 205, 0.7);
    opacity: 0.2;
}

.checked::before {
    color: black;
}

.date2020 {

}

.date2018 {

}

.skills_row {

}
.prof {
}

.higher {
}

.exp {

}

.edu {
}

.timer {
    padding: 5px;
    font-size: 20px;
    color: black;
}

#time {
    margin: 10px 10px 10px 0;
    font-size: 20px;
    color: black;
    padding-left: 20px;
}

.desk, ask {
    margin-top: 10px;
    font-size: 40px;
    margin-left: 50px;
}

.number {
    height: 0;
    opacity: 0;
}