@{
    Layout = "";
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link href="~/css/site.css"
          rel="stylesheet" />
    <title>Янкова А.А. М33091</title>
    <link rel="icon" href="/images/favicon.ico">
    <meta name="keywords" content="Портфолио, обо мне, контакты" />
    <meta name="description" content="Мое портфолию" />
</head>
<body>
    <header>
        <div class="under_header">
            <div class="icon">
                <a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%B2%D1%86%D0%B0" target="_blank"><img src="/images/sheep.png" width="50" height="50" alt="Logo"></a>
                <p class="icon_text">Нажми на меня!</p>
            </div>
            <div class="containerMe">
                <h1>Анастасия Янкова</h1>
                <h4>Типа программист (вроде как)</h4>
            </div>
        </div>

    </header>
    <main>
        <div class="left-main">
            <nav class="container_nav">
                <ul>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <span><img src="/images/home.png" alt="Home" class="nav_icon"></span>
                            <span>Главная</span>
                        </a>
                    </li>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Projects">
                            <span><img src="/images/projects.png" alt="Projects" class="nav_icon"></span>
                            <span>Проекты</span>
                        </a>
                    </li>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Skills">
                            <span><img src="/images/skills.png" alt="Skills" class="nav_icon"></span>
                            <span>Навыки</span>
                        </a>
                    </li>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Education">
                            <span><img src="/images/education.png" alt="Education" class="nav_icon"></span>
                            <span>Образование</span>
                        </a>
                    </li>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Experience" class="is-active">
                            <span><img src="/images/experience.png" alt="Experience" class="nav_icon"></span>
                            <span>Опыт</span>
                        </a>
                    </li>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Text">
                            <span><img src="/images/smile2.png" alt="Experience" class="nav_icon"></span>
                            <span>Смайлики</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="middle-main">
            @*<label class="year_label" for="SearchString">После (год):</label>
        <input class="form-control" id="DateString1" type="text" name="DateString1" autocomplete="off">
        <label class="year_label" for="SearchString">До (год):</label>
        <input class="form-control" id="DateString2" type="text" name="DateString2" autocomplete="off">
        <input class="blubtn" type="submit" value="Поиск" />*@
            <select id="radio" style="margin-top: 10px; margin-left: 10px;">
                <option value="">Сбросить</option>
                <option value="timeline_block">Все</option>
                <option value="date2020">2020</option>
                <option value="date2018">2018</option>
            </select>

            <button class="check checked" style="margin-top: 10px; margin-left: 10px;" value="date2020">2020</button>
            <button class="check checked" style="margin-top: 10px; margin-left: 10px;" value="date2018">2018</button>
            <div id="exp">
                <div class="timeline_block date2020" style="margin-top: 12px;">
                    <div class="date">
                        <p>2020</p>
                    </div>
                    <div class="experience">
                        <h3 class="company">Университет ИТМО</h3>
                        <h3 class="job-title">Должность:</h3>
                        <p class="duties">нищий студент</p>
                        <h3 class="job-title">Должностные обязанности:</h3>
                        <ul class="duties">
                            <li>учиться</li>
                            <li>выживать</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline_block date2018">
                    <div class="date">
                        <p>2018</p>
                    </div>
                    <div class="experience">
                        <h3 class="company">Дома у мамы</h3>
                        <h3 class="job-title">Должность:</h3>
                        <p class="duties">дочь</p>
                        <h3 class="job-title">Должностные обязанности:</h3>
                        <ul class="duties">
                            <li>есть</li>
                            <li>спать</li>
                            <li>убираться</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="right-main">
        </div>

    </main>
    <footer>
        <p class="footer-text">+7 (817) 542-45-46</p>
        <a href="mailto:yankova.nastya@yandex.ru" class="footer-text" title="Нажмите, чтобы отправить">yankova.nastya@yandex.ru</a>
    </footer>
    <script src="~/css/exp.js"></script>
</body>
</html>
