@{
    Layout = "";
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link href="~/css/site.css"
          rel="stylesheet" />
    <title>Янкова А.А. М33091</title>
    <meta name="keywords" content="Портфолио, обо мне, контакты" />
    <meta name="description" content="Мое портфолию" />
</head>
<body>
    <div id="wrap">
        <header>
            <div class="containerNav">
                <nav><a href="https://vk.com/neo_nestea">Контакты</a></nav>
                <nav><a href="https://github.com/neonestea/WebProg">Проекты</a></nav>
                <nav><a href="https://www.youtube.com/watch?v=T8eB4B9rf_s">Лама</a></nav>
            </div>
            
        </header>
    </div>
        <main>
            <div class="containerAboutPhoto">
                <div class="containerAbout">
                    <h1 class="Child">Обо мне</h1>
                    <p class="Child">
                        Я - живое доказательство того, что программирование не только для умных.<br /><pre class="Child">
     ▕▔╲▅╱▔▏
  ╱▔▔▔▔▔▔▔▔╲
 ▏╱▔▔▔▔▔▔▔╲▕
╱▔ ▏▕▍   ▕▍▕ ▔╲
▏╱▏▏   ╰┳╯   ▕▕╲▕
▔  ╲╲   ╰━┻━╯ ╱╱ ▔
     ▔▏    ▕▔</pre>
                    </p>
                </div>
                <section><img class="MyPhoto" src="/images/lama2.jpg" width="230" height="300" alt="LamaPhoto"></section>
            </div>
            <div class="containerSkills">
                <section class="Skills">
                    <h2>Мои навыки</h2>
                    <dl>
                        <dt>Программирование</dt>
                        <dd>C, C++, C#</dd>
                        <dd>Java</dd>
                    </dl>
                    <dl>
                        <dt>Математика</dt>
                        <dd>Математический анализ</dd>
                        <dd>Линейная алгебра</dd>
                        <dd>Теория вероятностей и статистика</dd>
                    </dl>
                    <dl>
                        <dt>Работа с ОС</dt>
                        <dd>Windows</dd>
                        <dd>Linux</dd>
                    </dl>
                    <code>Console.WriteLine("Hello, World!");</code>
                </section>
                <section class="Skills">
                    <h2>Образование</h2>
                    <ol reversed>
                        <li>Колледж МИД РФ</li>
                        <li>Университет ИТМО</li>
                    </ol>
                </section>
                <section>
                    <h2>Опыт</h2>
                    <ul>
                        <li>Увы, не имеется</li>
                    </ul>
                </section>
            </div>
            <article class="containerQuotes">
                <blockquote>
                    <p>
                        Не волнуйтесь, если что-то <em>не работает</em>.
                        Если бы всё работало, вас бы <strong>уволили</strong>.
                        <cite>- Mosher’s Law of Software Engineering</cite>
                    </p>
                </blockquote>
                <aside>Не пробуй лить H<sub>2</sub>O на комп!!!<br />Это может закончиться<br />очень печально...</aside>
            </article>
        </main>
        <footer>
            <p>+7 (817) 542-45-46</p>
            <p>yankova.nastya@yandex.ru</p>
        </footer>
</body>
</html>
