@{
    Layout = "";
    ViewData["Title"] = "My Projects";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link href="~/css/site2.css"
          rel="stylesheet" />
    <title>Янкова А.А. М33091</title>
    <link rel="icon" href="/images/favicon.ico">
    <meta name="keywords" content="Портфолио, обо мне, контакты" />
    <meta name="description" content="Мое портфолию" />
</head>
<body>
    <div id="wrap">
        <header>
            <div class="under_header">
                <div id="img">
                    <a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%B2%D1%86%D0%B0" target="_blank"><img src="/images/sheep.png" width="50" height="50" alt="Logo"></a>
                </div>
                <div class="containerMe">
                    <h1>Мои проекты</h1>
                    <h4>Умею мало, но умею</h4>
                </div>
                <div class="containerNav">
                    <nav><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></nav>
                    <nav class="activenav"><a asp-area="" asp-controller="Home" asp-action="Projects">Проекты</a></nav>
                    <nav><a asp-area="" asp-controller="Home" asp-action="Skills">Опыт</a></nav>
                </div>
            </div>
        </header>
    </div>
    <main>
        <div class="_main">
            <div class="card">
                <div class="element"><img src="/images/java.jpg" class="card-image"></div>
                <div><h5 class="card-title">Java</h5></div>
                <p class="card-text">Несколько проектов на Java, выполненных в течение обучения.</p>
            </div>
            <div class="card">
                <div class="element"><img src="/images/math.png" class="card-image"></div>
                <div><h5 class="card-title">Математическая игра</h5></div>
                <p class="card-text">Игра для детей. Помогает улучшить навыки сложения и вычитания (1 уровень), а также умножения и деления (2 уровень).</p>
            </div>
        </div>

    </main>
    <footer>
        <p>+7 (817) 542-45-46</p>
        <p>yankova.nastya@yandex.ru</p>
    </footer>
</body>
</html>