@{
    Layout = "";
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link href="~/css/site.css"
          rel="stylesheet" />
    <title>Янкова А.А. М33091</title>
    <link rel="icon" href="/images/favicon.ico">
    <meta name="keywords" content="Портфолио, обо мне, контакты" />
    <meta name="description" content="Мое портфолию" />
</head>
<body>
    <header>
        <div class="under_header">
            <div class="icon">
                <a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%B2%D1%86%D0%B0" target="_blank"><img src="/images/sheep.png" width="50" height="50" alt="Logo"></a>
                <p class="icon_text">Нажми на меня!</p>
            </div>
            <div class="containerMe">
                <h1>Анастасия Янкова</h1>
                <h4>Типа программист (вроде как)</h4>
            </div>
        </div>

    </header>
    <main style="padding-bottom: 20px;">
        <div class="left-main">
            <nav class="container_nav">
                <ul>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <span><img src="/images/home.png" alt="Home" class="nav_icon"></span>
                            <span>Главная</span>
                        </a>
                    </li>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Projects">
                            <span><img src="/images/projects.png" alt="Projects" class="nav_icon"></span>
                            <span>Проекты</span>
                        </a>
                    </li>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Skills" class="is-active">
                            <span><img src="/images/skills.png" alt="Skills" class="nav_icon"></span>
                            <span>Навыки</span>
                        </a>
                    </li>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Education">
                            <span><img src="/images/education.png" alt="Education" class="nav_icon"></span>
                            <span>Образование</span>
                        </a>
                    </li>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Experience">
                            <span><img src="/images/experience.png" alt="Experience" class="nav_icon"></span>
                            <span>Опыт</span>
                        </a>
                    </li>
                    <li class="view">
                        <a asp-area="" asp-controller="Home" asp-action="Text">
                            <span><img src="/images/smile2.png" alt="Experience" class="nav_icon"></span>
                            <span>Смайлики</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="middle-main-flex" style="padding-left: 10px;">
            <div class="buttons" style="display: inline-block;">
                <button id="desc" style="margin-top: 10px; margin-left: 10px;">По убыванию</button>
                <button id="asc" style="margin-top: 10px; margin-left: 10px;">По возрастанию</button>
            </div>


            <div class="skill_item">
                <p class="skill">HTML</p>
                <p class="number">1</p>
                <div class="container">
                    <div class="skills html">33%</div>
                </div>
            </div>
            <div class="skill_item">
                <p class="skill">CSS</p>
                <p class="number">2</p>
                <div class="container">
                    <div class="skills css">33%</div>
                </div>
            </div>
            <div class="skill_item">
                <p class="skill">JavaScript</p>
                <p class="number">3</p>
                <div class="container">
                    <div class="skills js">33%</div>
                </div>
            </div>
            <div class="skill_item">

                <p class="skill">C</p>
                <p class="number">4</p>
                <div class="container">
                    <div class="skills C1">33%</div>
                </div>
            </div>
            <div class="skill_item">
                <p class="skill">C++</p>
                <p class="number">6</p>
                <div class="container">
                    <div class="skills C2">66%</div>
                </div>
            </div>
            <div class="skill_item">
                <p class="skill">C#</p>
                <p class="number">8</p>
                <div class="container">
                    <div class="skills C3">99%</div>
                </div>
            </div>
            <div class="skill_item">
                <p class="skill">Java</p>
                <p class="number">5</p>
                <div class="container">
                    <div class="skills java">33%</div>
                </div>
            </div>
            <div class="skill_item">
                <p class="skill">Математика</p>
                <p class="number">9</p>
                <div class="container">
                    <div class="skills math">99%</div>
                </div>
            </div>
            <div class="skill_item">
                <p class="skill">Администрирование</p>
                <p class="number">7</p>
                <div class="container">
                    <div class="skills adm">66%</div>
                </div>
            </div>
        </div>


        <div class="right-main">
        </div>

    </main>
    <footer>
        <p class="footer-text">+7 (817) 542-45-46</p>
        <a href="mailto:yankova.nastya@yandex.ru" class="footer-text" title="Нажмите, чтобы отправить">yankova.nastya@yandex.ru</a>
    </footer>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="~/css/skills.js"></script>
</body>
</html>
